<section id="home">
<img id="img-home" src="../images/drones.jpeg" alt="image-accueil">
<div>
<h1 id="title-home"> Welcome to the Drones website</h1>
<a href="/drones" class="button">Show all the drones</a>
</div>


</section>
