body {
  /* padding: 50px; */
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}


#img-home {
  width: 100%;
  height: 93vh;
  opacity: 0.5
}

#title-home {
  font-weight: bolder;
  font-size: 40px;
  color: white;
}

.button {
  background-color: grey;
  border-radius: 20px;
  color: white;
  border: 1px solid darkgrey;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
}


#home div {
  background-color: lightseagreen;
  border-radius: 15px;
  padding: 50px;
  position: absolute;
  left:30%;
  top: 30%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: lightseagreen;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:5vh;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
}

nav a:hover {
  color:lightslategrey
}

h2 {
  text-align: center;
  color: lightseagreen;
  font-weight: bold;
  font-size: 35px;
}

#list {
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

#list li {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
}

.button-list, button {
  background-color: grey;
  border-radius: 20px;
  color: white;
  border: 1px solid grey;
  font-size: 25px;
  padding: 15px;
  width: 150px;
  height: fit-content;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

#list span {
  font-weight: bolder;
}


.form-create {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  font-size: 25px;
}